:root {
  --container: 69.375rem;
  --transition: 250ms ease-in-out;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.56;
}

body,
input,
textarea,
button {
  font-family: "Montserrat", serif;
}

a {
  cursor: pointer;
  color: var(--primary);
}

button {
  cursor: pointer;
}

img {
  display: block;
}

// Remove arrows from input[type="number"]
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
